# The libvirt URI to connect to. Some examples follow.
# Schemes besides qemu and qemu+ssh have not been tested.

# Connect to the default local session daemon
LIBVIRT_URIS = [None]

# Same as above
#LIBVIRT_URIS = ['qemu:///session']

# Connect to a remote system over an SSH tunnel, and to the local session daemon.
# This has only been tested with ~/.ssh/config set up to use
# public key authentication for this host.
#LIBVIRT_URIS = ['qemu+ssh://user@node.local/system', None]


# For SSH tunnels, this is the fingerprint we will accept.
# Note that your regular SSH client also needs to know about
# this fingerprint. This is because libvirt sets up a separate tunnel
# out of our control, and just executes '/usr/bin/ssh ...' to do that.
#FINGERPRINT = 'ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff:ff'


# The locale setting mostly just affects number formatting.
LOCALE = 'en_US.UTF-8'
